$primary-bg-color: rgb(20, 20, 20);
$secondary-bg-color: rgb(126, 125, 125);

$theme-color: rgb(223, 59, 9);
$table-font-color: rgb(78, 78, 78);

$primary-font-color: rgb(20, 20, 20);
$secondary-font-color: rgb(231, 231, 231);
